<form method="post" action="{{ path('info_delete', {'id': info.id}) }}" onsubmit="return confirm('Êtes-vous sûr de supprimer cet élément ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ info.id) }}">
    <button class="btn badge badge-danger text-uppercase">Supprimer</button>
</form>
