{% extends 'base.html.twig' %}

{% block title %}Modifier Info{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier Info</h1>

        {{ include('info/_form.html.twig', {'button_label': 'Modifier'}) }}

        <a href="{{ path('info_index') }}" class="badge badge-primary text-uppercase">Retour à la liste</a>

        {{ include('info/_delete_form.html.twig') }}
    </div>
{% endblock %}
