<form method="post" action="{{ path('artistes_delete', {'id': artistes.id}) }}" onsubmit="return confirm('Êtes-vous sûr de supprimer cette catégorie ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ artistes.id) }}">
    <button class="btn btn-outline-danger">Supprimer</button>
</form>