{% extends 'base.html.twig' %}

{% block title %}New artistes{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Créer un nouvel artiste</h1>

        {{ include('artistes/_form.html.twig') }}

        <a href="{{ path('artistes_index') }}" class="badge badge-primary">Retour à la liste</a>
    </div>
{% endblock %}