/*-----------------------
-------------------------
        Général
-------------------------
-----------------------*/
:root{
  --green: #0BDDB8;
  --lightBlue: #00B8FF;
  --violet: #4900FF;
  --magenta: #9600FF;
  --pink: #FF00C1;
  --black: #000000;
  --darkGrey: #34383F;
  --grey: #777D86;
  --lightGrey: #C5C9CE;
  --smoke: #EFF1F3;
  --cloud: #F9FAFB;
  --white: #FFFFFF;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

@font-face{
  font-family: "Luciole";
  src: url("fonts/luciole/Luciole-Regular.ttf");
}

body{
  background-color: var(--cloud);
  font-family: "Luciole";
}



/*-----------------------
-------------------------
        Header
-------------------------
-----------------------*/
/*  
#nav-container {
  position: absolute;
  height: 100vh;
  width: 100%;
 left: 0em;
top: 0em;
pointer-events:none; 
user-select: none;



}
#nav-container .bg {
  position: absolute;
  top: 0em;
  left: 0em;
  width: 100%;
  height: calc(100% - 0px);
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  background: rgb(0, 0, 0);
  z-index: -1;
}
#nav-container:focus-within .bg {
  visibility: visible;
  opacity: .6;
}
#nav-container * {
  visibility: visible;
}

.button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1000;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 4.375em;
  width: 1.875em;
  cursor: pointer;
  pointer-events: auto;
  margin-left: 25px;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.icon-bar {
  display: block;
  width: 1.5em;
  height: 0.1875em;
  background: rgb(0, 0, 0);
  transition: .3s;
  border-radius: 0.625em;
 
}
.icon-bar + .icon-bar {
  margin-top: 0.3125em;
  
}

#nav-container:focus-within .button {
  pointer-events: none;
}
#nav-container:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0,0.5em,0) rotate(45deg);
}
#nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}
#nav-container:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0,-0.5em,0) rotate(-45deg);
}

#nav-content {
  margin-top: 5em;
  padding:  3.125em;
  width: 9em;
  max-width: 250px;
  position: absolute;
  top: -80px;
  left: 0px;
  height: calc(100% - 0px);
  background: #ffffff;
  pointer-events: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  transform: translateX(-100%);
  transition: transform .3s;
  will-change: transform;
  contain: paint;
  
}

#nav-content ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
}

#nav-content li a {
  padding: 10px 5px;
  display: block;
  text-transform: uppercase;
  transition: color .1s;
  pointer-events: auto;
}

#nav-content li a:hover {
  color: #9600FF;
}

#nav-content li:not(.small) + .small {
  margin-top: auto;
}

#nav-container:focus-within #nav-content {
  transform: none;
}

#nav-content li :active {
  color: #9600FF;
}


ul {
  padding: 0;
  list-style: none;
}

img {
  vertical-align: middle;
  height: auto;
  width: 100%;
}*/



.header-menu {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  height: 68px;
  left: 0px;
  top: 0px;
  
}

.header-menu .logo {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 
user-select: none;
}

.header-menu .login {
  float: right;
    position: relative;
    width: 24px;
    margin: 15px 15px 15px 10px;
    user-select: none;


}

























































































/*-----------------------
-------------------------
       Lydie
-------------------------
-----------------------*/

/*-----------------------
-------------------------
         Menu
-------------------------
-----------------------*/

.deconnexion {
  background-image:url('images/icone_deconnexion.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  height:5vh;
  margin-right: 2vw;
  margin-top: 3.5vh;
}

/*-----------------------
-------------------------
    Toutes les pages
-------------------------
-----------------------*/
.contenu{
  margin-top: 12vh;
}

/*-----------------------
-------------------------
       Programme
-------------------------
-----------------------*/
.blockSwitchProgramme{
  margin-left: 2.4vw;
  margin-right: 2.4vw;
  z-index: auto;
  position:relative
}

.blockSwitchProgramme .tab-list{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.blockSwitchProgramme .tab-item{
  font-weight: 600;
  font-size: 1.1rem;
  position: relative;
}

.blockSwitchProgramme .tab-item::after{
  content: "";
  position: absolute;
  width: 100%;
  bottom: -1vh;
  border-bottom: 3px solid #EFE1FB;
  left: 0;
  border-radius: 0.5rem;
}

.blockSwitchProgramme .active::after{
  content: "";
  position: absolute;
  width: 100%;
  bottom: -1vh;
  border-bottom: 3px solid var(--magenta);
  left: 0;
  border-radius: 0.5rem;
}

.cardsProgramme{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 4vh;
}

.cardProgramme{
  width: 10rem;
  height: 9rem;
  border-radius: 1.5rem;
  position: relative;
  margin-bottom: 2.2vh;
}

.cardProgramme .imgCard{
  border-radius: 1.5rem;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.cardProgramme img{
  border-radius: 1.5rem;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.cardProgramme .contenuCard{
  position: absolute;
  z-index: 2;
  color: var(--white);
  padding: 0.7rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 1.5rem;
}

.cardProgramme .contenuCard .horaireCard{
  text-align: right;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.1rem;

}

.cardProgramme .contenuCard .nomCard{
  width: 80%;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-feature-settings: 'pnum' on, 'lnum' on;
  line-height: 115%;
  font-weight: 600;
}






















































































































































/*-----------------------
-------------------------
        Anis
-------------------------
-----------------------*/

#nav-container {
  position: fixed;
  height: 100vh;
  width: 100%;
 left: 0px;
top: 0px;
pointer-events:none;        

}
#nav-container .bg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: calc(100% - 0px);
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  background: rgb(0, 0, 0);
  
}
#nav-container:focus-within .bg {
  visibility: visible;
  opacity: .6;
}
#nav-container * {
  visibility: visible;
}

.button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 70px;
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
  margin-left: 25px;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
z-index: 2;
}
.icon-bar {
  display: block;
  width: 24px;
  height: 3px;
  background: rgb(0, 0, 0);
  transition: .3s;
  border-radius: 10px;
 
}
.icon-bar + .icon-bar {
  margin-top: 5px;
  

}

#nav-container:focus-within .button {
  pointer-events: none;
}
#nav-container:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0,8px,0) rotate(45deg);
}
#nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}
#nav-container:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0,-8px,0) rotate(-45deg);
}

#nav-content {
  margin-top: 80px;
  z-index: 1;
  padding: 50px;
  width: 90%;
  max-width: 250px;
  position: absolute;
  top: -80px;
  left: 0px;
  height: calc(100% - 0px);
  background: #ffffff;
  pointer-events: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  transform: translateX(-100%);
  transition: transform .3s;
  will-change: transform;
  contain: paint;
  
}

#nav-content ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
}

#nav-content li a {
  padding: 10px 5px;
  display: block;
  text-transform: uppercase;
  transition: color .1s;
  pointer-events: auto;
}

#nav-content li a:hover {
  color: #9600FF;
}

#nav-content li:not(.small) + .small {
  margin-top: auto;
}



#nav-container:focus-within #nav-content {
  transform: none;
}


a,
a:visited,
a:focus,
a:active,
a:link {
  text-decoration: none;
  outline: 0;
}





ul {
  padding: 0;
  list-style: none;
}

img {
  vertical-align: middle;
  height: auto;
  width: 100%;
}




a {
  color: #000;
}

/* header */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;

  width: 100%;
height: 68px;
left: 0px;
top: 0px;
  
}




.logo {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.header .login {
  float: right;
    position: relative;
    width: 24px;
    margin: 15px 15px 15px 10px;


}
/****************
/////*****map****
*****************/

.contenu .map-carteint .map {
width: 100%;
height:  82.234vh;
left: 0vh;
margin-bottom: -0.71633vh;
top: 10.688em;
overflow: scroll;
margin-top: 14.752vh
;
border: var(--black);
user-select: none;
  
}








































































































































































































/*-----------------------
-------------------------
       Léo
-------------------------
-----------------------*/

/* -----------------------
Footer 
-----------------------*/

.copyright, .liste-lien, .newsletter, div.container-footer.logo-footer, .social{
  text-align: center;
}

.container-footer, .liste-lien, .social, .liste-lien li, div.container-footer.logo-footer img{
  margin: auto;
}

.footer {
  background-color: rgba(235, 237, 240, 0.7);
}


/* logo */

.logo-footer a img{
  width: 50%;
}

div.container-footer.logo-footer{
  padding-top: 2.5rem ;
}

/* réseaux sociaux */

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.social a{
  margin: auto 0.6rem
}

/* liens */

.liste-lien{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  text-align: center;
}

.liste-lien li {
  list-style-type: none;
  margin-bottom: 11px;
}

.liste-lien li a{
  text-decoration: none;
  color :var(--darkGrey);
  font-size: 0.8rem;
  font-weight: 400;
} 

div.container-footer.lien-footer > ul > li:nth-child(8){
  margin-bottom: 0px;
}

/* séparateurs */

div > div.footer > hr{
  height: 3px;
  width: 2em;
  border-radius: 5px;
  background: var(--magenta);
  margin: 20px auto 20px auto;
}

/* newsletter */

div.footer > div.container-footer.newsletter > .register-form{
  margin: 0px 2.5em !important;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 3vh;
  margin-bottom: 40px;
}

div.container-footer.newsletter > form > #image{
  flex: 1 0 38px;
  box-shadow: inset -3.63243px -5.38531px 6.49585px #6F00BD, inset 3.63243px 5.38531px 6.49585px #B500FF;
  filter: drop-shadow(10.0282px 14.8674px 35.8667px rgba(30, 0, 51, 0.3205));
  background: linear-gradient(146deg, #AD00FF 0%, #7700CA 72.03%);
  border-radius: 200px;
  padding: 7px 0px;
  margin-left: 0.75rem;
  margin-bottom: 0px;
  flex-basis: max-content;
}

div.container-footer.newsletter > form > #imput{
  flex: 1 0 83%;
  margin-bottom: 15px;
}

.newsletter{
  margin-bottom: 2.5rem ;
}

div.container-footer.newsletter > form > label{
  font-size: 1rem;
  display:  block;
  font-weight: 600;
  margin-bottom: 15px;
  flex: 1 0 100%;
}

/* copyright */

div.footer > div.container-footer.copyright{
  background-color: var(--cloud);
  padding: 15px 0px 15px 0px;
  font-weight: 400;
  font-size: 0.8rem;
  color: var(--grey);
}


















































































































































































































































/*-----------------------
-------------------------
        Télio
-------------------------
-----------------------*/

/*-----------------------
    Partenaire
-----------------------*/
.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2vh;


}

.card-partenaire {
  width: 140px;
  height: 174px;

  padding: 18px 20px;
  margin: 17px 0px;
  background: var(--cloud);
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.img-partenaire {
  width: 100px;
  height: 100px;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 14px;
  object-fit: cover;
}

.text-partenaire  {
  width: 100px;
  height: 24px;

  font-family: Luciole;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: var(--black);
}


/*-----------------------
    FAQ
-----------------------*/

.faq {
  margin-top: 250px;;
}

.card-faq {
  background: var(--cloud);
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 20px 18px;
  margin: 24px;
}
.card-faq h3 {
  margin-bottom: 14px;
}
/*-----------------------
    Info
-----------------------*/
.dot-info p::before {
  content: "• ";
  font-size: 2rem;
  color: var(--pink);
}
.dot-info p:last-child::before {
  color: var(--magenta);
}

.card-info {
  background: var(--cloud);
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 20px 18px;
  margin: 24px;
}
.card-info h3 {
  margin-bottom: 14px;
}
.card-info h3::before {
  content: "• ";
  font-size: 2rem;
  color: var(--pink);
}

/*-----------------------
    Contact
-----------------------*/

.contact-form {
  margin: 35px 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2vh;
  margin-bottom: 40px;
}
.contact-form h1 {
  margin-bottom: 18px;
}

.contact-form input {
  font-family: Luciole;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 175%;
  letter-spacing: 0.2px;
  color: var(--grey);
  background-color: var(--white);
  padding: 10px 20px;
  width: 327px;
  height: 38px;
  border-radius: 12px;
  border: none;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}
.contact-form textarea {
  font-family: Luciole;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 175%;
  letter-spacing: 0.2px;
  color: var(--grey);
  background-color: var(--white);
  padding: 10px 20px;
  width: 327px;
  height: 100px;
  border-radius: 12px;
  border: none;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.contact-form button {
  font-family: Luciole;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  color: var(--white);
  width: 140px;
  height: 44px;
  padding: 10px 35px;
  background: linear-gradient(146deg, #AD00FF 0%, #7700CA 72.03%);
  box-shadow: 10.0282px 14.8674px 35.8667px rgba(30, 0, 51, 0.3205), inset -3.63243px -5.38531px 6.49585px #6F00BD, inset 3.63243px 5.38531px 6.49585px #B500FF;
  border-radius: 8px;
  border: none;
  margin: 10px;
}

hr {
  width: 188px;
  height: 3px;
  background: var(--magenta);
  border-radius: 5px;
  border: none;
  margin: 35px auto;
}

.contact-rs {
  text-align: center;
}
.contact-rs p {
  margin-bottom: 15px;
}
.contact-rs .social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px;
  z-index: -1;
}
.contact-rs .social a{
  margin: auto 0.6rem;
  color: var(--magenta);
}
.contact-rs .social a img{
  filter: brightness(30%);
}

.contact-mail {
  text-align: center;
}
.contact-mail p {
  margin-bottom: 15px;
}
.contact-mail a {
  color: var(--lightBlue);
  margin-bottom: 15px;
}
/*-----------------------
    S'inscrire
-----------------------*/
.register-option {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 40px;
}
.Facebook-button {
  font-family: Luciole;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.2px;
  background: #3B5998;
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 140px;
  height: 44px;
  padding: 10px 35px;
  margin: 15px 24px 15px 12px;
}


.Google-button {
  font-family: Luciole;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.2px;
  background: #EB4132;
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 140px;
  height: 44px;
  padding: 10px 35px;
  margin: 15px 12px 15px 24px;
}

.register-form {
  margin: 35px 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2vh;
  margin-bottom: 40px;
}

.register-form input {
  font-family: Luciole;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 175%;
  letter-spacing: 0.2px;
  color: var(--grey);
  background-color: var(--white);
  padding: 10px 20px;
  width: 327px;
  height: 38px;
  border-radius: 12px;
  border: none;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}
.register-form p {
  font-size: 10px;
  margin-left: 20px;
  color: var(--darkGrey);
  margin-bottom: 15px;
}
.register-form button {
  font-family: Luciole;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  color: var(--white);
  width: 140px;
  height: 44px;
  padding: 10px 35px;
  background: linear-gradient(146deg, #AD00FF 0%, #7700CA 72.03%);
  box-shadow: 10.0282px 14.8674px 35.8667px rgba(30, 0, 51, 0.3205), inset -3.63243px -5.38531px 6.49585px #6F00BD, inset 3.63243px 5.38531px 6.49585px #B500FF;
  border-radius: 8px;
  border: none;
  margin: 10px;
}
/*-----------------------
    Login
-----------------------*/

.login-form {
  margin: 35px 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 40px;
}
.login-form h1 {
  margin-bottom: 18px;
}

.login-form input {
  font-family: Luciole;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 175%;
  letter-spacing: 0.2px;
  color: var(--grey);
  background-color: var(--white);
  padding: 10px 20px;
  width: 327px;
  height: 38px;
  border-radius: 12px;
  border: none;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.login-form button {
  font-family: Luciole;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  color: var(--white);
  width: 180px;
  height: 44px;
  padding: 10px 35px;
  background: linear-gradient(146deg, #AD00FF 0%, #7700CA 72.03%);
  box-shadow: 10.0282px 14.8674px 35.8667px rgba(30, 0, 51, 0.3205), inset -3.63243px -5.38531px 6.49585px #6F00BD, inset 3.63243px 5.38531px 6.49585px #B500FF;
  border-radius: 8px;
  border: none;
  margin: 10px;
}

.login-option {
  margin: 35px 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 40px;
}
.login-option p {
  font-size: 12px;
}
.login-option a {
  font-family: Luciole;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  color: var(--magenta);
  width: 205px;
  height: 44px;
  padding: 10px 35px;
  background:none;
  border-radius: 8px;
  border: 2px solid var(--magenta);;
  margin: 10px;
}

/*-----------------------
    Mentions Légales
-----------------------*/
.mention-legales {
  margin: 5vh 7vw;
}
.mention-legales div {
  margin-bottom: 10vh;
}
.mention-legales div h2 {
  margin-bottom: 7vh;
}
.mention-legales div p {
  font-family: Luciole;
  font-style: normal;
  font-size: 1rem;
  line-height: 140%;
  margin-bottom: 5vh;
}

/*-----------------------
    Profil
-----------------------*/

.profil-info {
  margin: 35px 24px;
}
.profil-info input {
  font-family: Luciole;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 175%;
  letter-spacing: 0.2px;
  color: var(--grey);
  background-color: var(--white);
  padding: 10px 20px;
  width: 327px;
  height: 38px;
  border-radius: 12px;
  border: none;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.profil-info button {
  font-family: Luciole;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  color: var(--magenta);
  width: 275px;
  height: 44px;
  padding: 10px 35px;
  background:none;
  border-radius: 8px;
  border: 2px solid var(--magenta);;
  margin: 20px 25px 30px;
  }


.billet-info {
  margin: 35px 24px;
}

.billet-info button {
  font-family: Luciole;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  color: var(--magenta);
  width: 275px;
  height: 44px;
  padding: 10px 35px;
  background:none;
  border-radius: 8px;
  border: 2px solid var(--magenta);;
  margin: 50px 25px 50px;
  }

/*-----------------------
    Notif
-----------------------*/

 .card-notif {
   margin: 11px;
   width: 343px;
   height: 38px;
   background-color: var(--lightGrey);
   padding: 8px;
   border-radius: 15px;
   display: flex;
   justify-content: space-between;
   box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
 }

 .card-notif p {
  font-family: Luciole;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 175%;
  float: left;
}
.card-notif p::before {
  content: "⚠ ";
  margin-right: 5px;
  font-size: 20px;
  color: var(--black);
  float: left;
}
.card-notif a {
  text-decoration: none;
  color: var(--black);
  float: right;
}