/*-----------------------
-------------------------
        Général
-------------------------
-----------------------*/
:root{
  --green: #0BDDB8;
  --lightBlue: #00B8FF;
  --violet: #4900FF;
  --magenta: #9600FF;
  --pink: #FF00C1;
  --black: #000000;
  --darkGrey: #34383F;
  --grey: #777D86;
  --lightGrey: #C5C9CE;
  --smoke: #EFF1F3;
  --cloud: #F9FAFB;
  --white: #FFFFFF;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

@font-face{
  font-family: "Luciole";
  src: url("fonts/luciole/Luciole-Regular.ttf");
}

body{
  background-color: var(--cloud);
  font-family: "Luciole";
}



/*-----------------------
-------------------------
        Header
-------------------------
-----------------------*/
.header{
  background-color: var(--white);
  border: none;
  padding-bottom: 3em;
  border-bottom-left-radius: 1.4em;
  border-bottom-right-radius: 1.4em;
  box-shadow: 0px 0px 2.5em rgba(0, 0, 0, 0.08);
  margin-bottom: 5vh;
}

/*-----------------------
-------------------------
        Menu
-------------------------
-----------------------*/
.navBarre{
  display: flex;
  flex-direction: column;
}

.navBarre a{
  color: var(--black);
  text-decoration: none;
}

























































































/*-----------------------
-------------------------
       Lydie
-------------------------
-----------------------*/
/*programme*/
.blockSwitchProgramme{
  margin-left: 2.4vw;
  margin-right: 2.4vw;
}

.blockSwitchProgramme .tab-list{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.blockSwitchProgramme .tab-item{
  font-weight: 600;
  font-size: 1.1rem;
  position: relative;
}

.blockSwitchProgramme .tab-item::after{
  content: "";
  position: absolute;
  width: 100%;
  bottom: -1vh;
  border-bottom: 3px solid #EFE1FB;
  left: 0;
  border-radius: 0.5rem;
}

.blockSwitchProgramme .active::after{
  content: "";
  position: absolute;
  width: 100%;
  bottom: -1vh;
  border-bottom: 3px solid var(--magenta);
  left: 0;
  border-radius: 0.5rem;
}



.cardsProgramme{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 4vh;
}

.cardProgramme{
  width: 10rem;
  height: 9rem;
  border-radius: 1.5rem;
  position: relative;
  margin-bottom: 2.2vh;
}

.cardProgramme .imgCard{
  border-radius: 1.5rem;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.cardProgramme img{
  border-radius: 1.5rem;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.cardProgramme .contenuCard{
  position: absolute;
  z-index: 2;
  color: var(--white);
  padding: 0.7rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 1.5rem;
}

.cardProgramme .contenuCard .horaireCard{
  text-align: right;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.1rem;

}

.cardProgramme .contenuCard .nomCard{
  width: 80%;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-feature-settings: 'pnum' on, 'lnum' on;
  line-height: 115%;
  font-weight: 600;
}






















































































































































/*-----------------------
-------------------------
        Anis
-------------------------
-----------------------*/




/* header */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  position: absolute;
width: 375px;
height: 68px;
left: 0px;
top: 0px;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  position: absolute;
left: 32.8%;
right: 32.8%;
top: 8.82%;
bottom: 8.82%;
}


.header .login {
  position: absolute;
left: 87.2%;
right: 6.4%;
top: 32.35%;
bottom: 32.35%;


}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}





/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: left;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: rgb(0, 0, 0);
  display: block;
  height: 0.1em;
  position: relative;
  transition:background .2s ease-out;
  width: 1.1250em;
  border-radius: 10px;
  width: 18px ;
  
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: rgb(0, 0, 0);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
    border-radius: 0.625em;

}

.header .menu-icon .navicon:before {
  top: 0.313em;
}

.header .menu-icon .navicon:after {
  top: -0.313em;
}

/* menu btn */

.header .menu-btn {
  display: ;
}

.header .menu-btn:checked ~ .menu {
  max-height: 15em;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 375PX) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}









































































































































































































/*-----------------------
-------------------------
       Léo
-------------------------
-----------------------*/














































































































































































































































/*-----------------------
-------------------------
        Télio
-------------------------
-----------------------*/
















