/*-----------------------
-------------------------
        Général
-------------------------
-----------------------*/
:root{
  --green: #0BDDB8;
  --lightBlue: #00B8FF;
  --violet: #4900FF;
  --magenta: #9600FF;
  --pink: #FF00C1;
  --black: #000000;
  --darkGrey: #34383F;
  --grey: #777D86;
  --lightGrey: #C5C9CE;
  --smoke: #EFF1F3;
  --cloud: #F9FAFB;
  --white: #FFFFFF;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-color: var(--cloud);
}

/*-----------------------
-------------------------
        Header
-------------------------
-----------------------*/
.header{
  background-color: var(--white);
  border: none;
  padding-bottom: 3em;
  border-bottom-left-radius: 1.4em;
  border-bottom-right-radius: 1.4em;
  box-shadow: 0 0.3em 0.3em var(--lightGrey);
  margin-bottom: 5vh;
}